* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e2e8e0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none; }

body {
  display: grid;
  grid-template-areas: "header  header  header" "main    main    main" "footer  footer  footer"; }

.container, .footer__content, .footer_actualidad__content, .footer_music__content, .footer_gaming__content {
  max-width: 1200px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #e2e8e0; }

.header {
  background-color: #531077;
  grid-area: header;
  color: #e2e8e0;
  padding: 30px 20px; }
  .header a {
    color: #e2e8e0; }
  .header__content a:hover {
    color: #0f1010;
    transition: 0.3s; }
  .header_actualidad {
    background-color: #9E4D49;
    grid-area: header;
    color: #e2e8e0;
    padding: 30px 20px; }
    .header_actualidad a {
      color: #e2e8e0; }
    .header_actualidad__content a:hover {
      color: #0f1010;
      transition: 0.3s; }
  .header_music {
    background-color: #7780ED;
    grid-area: header;
    color: #e2e8e0;
    padding: 30px 20px; }
    .header_music a {
      color: #e2e8e0; }
    .header_music__content a:hover {
      color: #0f1010;
      transition: 0.3s; }
  .header_gaming {
    background-color: #36994A;
    grid-area: header;
    color: #e2e8e0;
    padding: 30px 20px; }
    .header_gaming a {
      color: #e2e8e0; }
    .header_gaming__content a:hover {
      color: #0f1010;
      transition: 0.3s; }

.main {
  background-color: #0f1010;
  grid-area: main; }
  .main-section {
    margin-top: 40px;
    margin-bottom: 40px; }
    .main-section__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px; }

/* TARJETAS */
.card {
  background-color: #4B4B4B;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 12px 15px -12px rgba(255, 255, 255, 0.116);
  transition: transform 0.4s; }
  .card__header {
    position: relative; }
    .card__header img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 15px; }
    .card__header small {
      font-weight: bold;
      padding: 8px;
      position: absolute;
      right: 0;
      border-bottom-left-radius: 10px; }
  .card:hover {
    transform: translateY(-10px); }
  .card a:hover {
    color: #531077;
    transition: 0.3s; }

.small_actualidad {
  color: #9E4D49; }

.small_music {
  color: #7780ED; }

.small_gaming {
  color: #36994A; }

/* NEWS */
.div-text {
  line-height: 1.5;
  font-family: 'Nuosu SIL', serif;
  font-size: 120%; }

.news {
  position: relative; }
  .news img {
    width: 100%; }
  .news-title {
    font-weight: bolder; }

/* CONTACTO */
.contact {
  display: grid;
  justify-content: center; }

form {
  display: flex;
  flex-direction: column; }
  form input, form textarea, form button {
    background-color: #4B4B4B; }

@media (max-width: 1024px) {
  .main-section__grid {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 767px) {
  .main-section__grid {
    grid-template-columns: 1fr; } }

@media (max-width: 425px) {
  .news-title {
    font-size: 250%; }
  .div-text {
    font-size: 170%; }
  .sub-title {
    font-size: 165%; } }

.footer {
  background-color: #531077;
  grid-area: footer;
  color: #e2e8e0; }
  .footer__content {
    color: #e2e8e0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px; }
    .footer__content a:hover {
      color: #0f1010;
      transition: 0.3s; }
  .footer_actualidad {
    background-color: #9E4D49;
    grid-area: footer;
    color: #e2e8e0; }
    .footer_actualidad__content {
      color: #e2e8e0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px; }
      .footer_actualidad__content a:hover {
        color: #0f1010;
        transition: 0.3s; }
  .footer_music {
    background-color: #7780ED;
    grid-area: footer;
    color: #e2e8e0; }
    .footer_music__content {
      color: #e2e8e0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px; }
      .footer_music__content a:hover {
        color: #0f1010;
        transition: 0.3s; }
  .footer_gaming {
    background-color: #36994A;
    grid-area: footer;
    color: #e2e8e0; }
    .footer_gaming__content {
      color: #e2e8e0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px; }
      .footer_gaming__content a:hover {
        color: #0f1010;
        transition: 0.3s; }

@media (max-width: 425px) {
  .footer__content {
    grid-template-columns: 1fr; }
  .footer_actualidad__content {
    grid-template-columns: 1fr; }
  .footer_music__content {
    grid-template-columns: 1fr; }
  .footer_gaming__content {
    grid-template-columns: 1fr; } }
