.header {
    @include font($colorPrincipal, header, $colorFuentes,)
    padding: 30px 20px;

    & a {
        color: map-get($color, font);
    }

    &__content a:hover {
        color: map-get($color, background);
        transition: 0.3s;
    }
}