.main {
    background-color: $colorFondo;
    grid-area: main;

    &-section {
        margin-top: 40px;
        margin-bottom: 40px;  

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
        }
    }
}

/* TARJETAS */
.card {
    background-color: $colorCards;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 15px -12px rgba(255, 255, 255, 0.116);
    transition: transform 0.4s;

    &__header {
        position: relative;

        & img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        & small {
            @include small(bold, 8px, absolute, 0, 10px,)
        }
    }
    &:hover {
        transform: translateY(-10px);
    }

    & a:hover {
        color: $colorPrincipal;
        transition: 0.3s;
    }
}

.small {
    &_actualidad {
        color: $colorActualidad;
    }
    &_music {
        color: $colorMusic;
    }
    &_gaming {
        color: $colorGaming;
    }
}

/* NEWS */
.div-text {
    line-height: 1.5;
    font-family: 'Nuosu SIL', serif;
    font-size: 120%;
}
.news {
    position: relative;
    & img {
        width: 100%;
    }
    &-title {
        font-weight: bolder;
    }
}

/* CONTACTO */
.contact {
    display: grid;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    input, textarea, button{
    background-color: $colorCards;
    }
}

// MEDIA QUERIES
@media (max-width: $desktop) {
    .main-section__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $tablet) {
    .main-section__grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: $mobile) {
    .news-title {
        font-size: 250%;
    }
    .div-text {
        font-size: 170%;
    }
    .sub-title {
        font-size: 165%;
    }
}